<html>
<table style="width:100%", border="1">
  <tr>
    <th>Host Name</th>
    <th>Group name</th>
  </tr>
{% for host in groups[groupName] %}
  <tr>
    <td>{{ host }}</td> 
    <td>{{ groupName }}</td>
  </tr>
{% endfor %}
</table>
</html>